<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :deadline, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deadline, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :importance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :importance, :class => 'text_field' %>
    </div>
  </div>  

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
