<%- model_class = User -%>
<div class="page-header">
  <!--<h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>-->
  <h1>Preferences</h1>
</div>
<%= render :partial => 'form' %>
