<%= form_for @cycle, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :initial_cash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :initial_cash, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :actual_cash, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :actual_cash, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :paid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :paid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cycles_path, :class => 'btn' %>
  </div>
<% end %>
