<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CashTodoList" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "CashTodoList" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
       	    <ul class="nav">
                <a class="brand" href="#">CashTodoList</a>
                <li><%= link_to 'Tasks', tasks_path %></li>        		
                <li><%= link_to 'Preferences', edit_user_path(current_user) %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
     	      </ul>
          </div>
        </div>     
      </div>
      
      <div class="container container-fluid main-container">        
          
          <div class="row row-fluid">
            <div class="span12">              
              <%= yield %>
            </div>
          </div>          
        
      </div>

   </body>
</html>